@model CreatePersonViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="People" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>


    <label asp-for="CityId"></label>
    <select asp-for="CityId">
        @foreach (var item in Model.CityList)
        {
            <option value="@item.Id">@item.CityName</option>
        }

        </select> 
    <span asp-validation-for="CityId"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <span asp-validation-for="Phone"></span>

    <button type="reset">Reset</button>
    <button>Create</button>
</form>