@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<h2>Create</h2>
<form asp-action="Create" asp-controller="People" method="post">
    <label asp-for="CreatePersonViewModel.Name"></label>
    <input asp-for="CreatePersonViewModel.Name" />
    <span asp-validation-for="CreatePersonViewModel.Name"></span>

    <label asp-for="CreatePersonViewModel.City"></label>
    <input asp-for="CreatePersonViewModel.City" />
    <span asp-validation-for="CreatePersonViewModel.City"></span>

    <label asp-for="CreatePersonViewModel.Phone"></label>
    <input asp-for="CreatePersonViewModel.Phone" />
    <span asp-validation-for="CreatePersonViewModel.Phone"></span>

    <button type="reset">Reset</button>
    <button>Create</button>
</form>

<h3>Search</h3>
<form asp-action="Index" asp-controller="People" method="post">
    <label asp-for="@Model.SearchPerson"></label>
    <input type="text" asp-for="@Model.SearchPerson" />
    <button type="submit">Search </button>
</form>

<div> <h2> PeopleList</h2></div>
<partial name="_PeopleListPartialView" model="Model" />

@*<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <h5 id="name">Name</h5>
            </div>
            <div class="col-3">
                <h5>City</h5>
            </div>
            <div class="col-3">
                <h5>Phone</h5>
            </div>
            <div class="col-3">
                <h5>Delete</h5>
            </div>
        </div>
        @foreach (var item in Model.PeopleList)
        {
            <partial name="../Shared/_PeopleListPartialView" model="item"/>
        }
    </div>*@





