
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button id="getAll" onclick="getAll()">Get All</button>
<hr />
    <input id="personId" type="number" value="" />
    <button id="personDetails" onclick="personDetails()">Details</button>
    <button id="deletePerson" onclick="deletePerson()">Delete</button>
    <div id="result">

    </div>



    <script src="~/js/AjaxPerson.js" asp-append-version="true"></script>